# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../')))
from db_connection.connection import PostgresConnection

# Add the src directory to the system path

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))
from customer_satisfaction_analysis import (
      load_data,calculate_scores, calculate_satisfaction_score, 
    regression_model, kmeans_clustering, aggregate_clusters, export_to_mysql, model_deployment_tracking
)

## Initialize and connect to the PostgreSQL database

In [3]:
db = PostgresConnection()
db.connect()

Connected to PostgreSQL Database!

# Load the data

In [4]:
query = "SELECT * FROM xdr_data;"
user_data = db.fetch_data(query)

# Display the first few rows of the data
user_data.head()

c:\Users\habteyes.asfaw\10Accadamy\TellCo-Telecom-User-Analytics\db_connection\connection.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, self.conn)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

# Task 4.1:Calculate Engagement and Experience Scores

In [5]:
print(user_data.columns)

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [10]:
scored_data = calculate_scores(user_data)

In [11]:
# Display the first few rows of the data with scores
print("Data with calculated scores:")
print(scored_data.head())

Data with calculated scores:
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0  9.16456699548519E+015  ...           9656251.0        278082303.0
1                L77566A  ...          17227132.0        608750074.0
2                D42335A  ...           6163408.0        229584621.0
3                T21824A  ...           1097942.0        799538153.0
4                D88865A  ...            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)  engagement_score  experience_score  satisfaction_score
0       308879636.0       3751.214627        760.686847           24.500000
1       653384965.0       3757.826360        778.684616           15.500000
2       279807335.0       3767.476868        795.590511           13.331441
3       846028530.0       3729.476933        760.590520           30.831441
4       569138589.0       3767.476868        795.590511           13.331441

[5 rows x 58 columns]

# Task 4.2: Calculate satisfaction score and get top 10 satisfied customers

In [12]:
scored_data, top_10_customers = calculate_satisfaction_score(scored_data)
print("Top 10 satisfied customers:")
print(top_10_customers)

Top 10 satisfied customers:
           Bearer Id            Start  Start ms             End  End ms  \
92379   7.277826e+18  4/27/2019 15:19      28.0  4/28/2019 0:16   805.0
5926    1.304243e+19  4/24/2019 10:59     973.0  4/25/2019 1:20   383.0
137168  1.304243e+19   4/29/2019 1:31     845.0  4/30/2019 1:31   729.0
116895  1.304243e+19   4/28/2019 1:44     894.0  4/29/2019 1:44   862.0
99297   7.277826e+18  4/27/2019 17:19     641.0  4/28/2019 1:31   202.0
91313   7.277826e+18  4/27/2019 14:46     507.0  4/28/2019 3:54   281.0
45409   7.277826e+18   4/25/2019 6:51     103.0  4/26/2019 0:50   718.0
9283    7.277826e+18  4/24/2019 16:06      19.0  4/25/2019 0:06   859.0
91621   7.277826e+18  4/27/2019 14:56     742.0  4/28/2019 0:01   667.0
124763  1.304243e+19   4/28/2019 6:15     135.0  4/29/2019 6:15   129.0

        Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
92379     32245.0  2.082019e+14   3.361508e+10  8.683890e+13
5926      51676.0  2.082017e+14   3.378308e+10  3.572881e+13
137168    86399.0  2.082014e+14   3.362990e+10  3.587921e+13
116895    86399.0  2.082014e+14   3.366126e+10  3.594111e+13
99297     29520.0  2.082009e+14   3.369521e+10  3.572821e+13
91313     47263.0  2.082015e+14   3.366662e+10  3.529901e+13
45409     64741.0  2.082003e+14   3.367417e+10  3.590391e+13
9283      28816.0  2.082015e+14   3.365805e+10  3.573671e+13
91621     32698.0  2.082015e+14   3.368495e+10  3.586281e+13
124763    86399.0  2.082003e+14   3.361424e+10  3.530401e+13

           Last Location Name  ...  Netflix UL (Bytes)  Gaming DL (Bytes)  \
92379                 D93902C  ...          16337272.0         81515141.0
5926                  D21046C  ...           2435624.0        691032047.0
137168  9.16456699728845E+015  ...           1565260.0        381344399.0
116895                D53539C  ...          10969816.0        102494100.0
99297                 T72456B  ...           2909968.0        204648081.0
91313                 L61278C  ...           3337375.0         71685722.0
45409                 D79478B  ...           8164239.0        216210547.0
9283                  D10719C  ...          14810850.0        179401162.0
91621                 D88906B  ...           8611265.0        480645462.0
124763                D78060C  ...           8472325.0        650882324.0

        Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  \
92379           2597247.0       643083713.0        11331986.0
5926            1854536.0       810687763.0        12893876.0
137168         11043945.0       726150533.0         5917227.0
116895         12554072.0       442612856.0        11210131.0
99297          10559711.0       375341504.0         7607891.0
91313           4903369.0        11537833.0         8657144.0
45409          14118438.0       421380835.0        10150397.0
9283           10828935.0        95656717.0         7790573.0
91621          16266075.0       819515658.0        10359171.0
124763          1257598.0        85528968.0         3647740.0

        Total UL (Bytes)  Total DL (Bytes)  engagement_score  \
92379         37301747.0       117136066.0      75988.569222
5926          41661175.0       726223984.0     142441.548042
137168        25738270.0       428527901.0      22959.536316
116895        45547768.0       136935139.0      97800.556514
99297         33795433.0       227361460.0      36207.612882
91313         28641003.0       111024068.0     242740.540374
45409         36757789.0       252898313.0      25535.630182
9283          53326582.0       207498062.0      61505.576084
91621         47607748.0       492746634.0      39313.591293
124763        24841003.0       675829145.0     134450.545057

        experience_score  satisfaction_score
92379       57808.409806             29317.0
5926        56987.411425             28897.5
137168      56945.411426             28876.5
116895      56201.411449             28504.5
99297       55958.411457             28383.0
91313       53227.409718             27023.5
45409       52767.409819             26796.5
9283        51835.410165             26325.0
91621       51279.411619             26043.5
124763      50757.410495             25785.0

[10 rows x 58 columns]

# Task 4.3: Build Regression Model to Predict Satisfaction Score

In [13]:
model, mse = regression_model(scored_data)
print(f"Mean Squared Error of the regression model: {mse}")

Mean Squared Error of the regression model: 1.998355754279054e-21