# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../')))
from db_connection.connection import PostgresConnection

# Add the src directory to the system path

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))
from customer_satisfaction_analysis import (
      load_data,calculate_scores, calculate_satisfaction_score, 
    regression_model, kmeans_clustering, aggregate_clusters, export_to_mysql, model_deployment_tracking
)

## Initialize and connect to the PostgreSQL database

In [3]:
db = PostgresConnection()
db.connect()

Connected to PostgreSQL Database!

# Load the data

In [4]:
query = "SELECT * FROM xdr_data;"
user_data = db.fetch_data(query)

# Display the first few rows of the data
user_data.head()

c:\Users\habteyes.asfaw\10Accadamy\TellCo-Telecom-User-Analytics\db_connection\connection.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, self.conn)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

# Task 4.1:Calculate Engagement and Experience Scores

In [5]:
print(user_data.columns)

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [6]:
user_data = calculate_scores(user_data)

In [11]:
# Display the first few rows of the data with scores
print("Data with calculated scores:")
print(user_data.head())

Data with calculated scores:
      Bearer Id            Start  Start ms              End  End ms  Dur. (ms)          IMSI  MSISDN/Number          IMEI     Last Location Name  Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  Avg Bearer TP UL (kbps)  TCP DL Retrans. Vol (Bytes)  TCP UL Retrans. Vol (Bytes)  DL TP < 50 Kbps (%)  50 Kbps < DL TP < 250 Kbps (%)  250 Kbps < DL TP < 1 Mbps (%)  DL TP > 1 Mbps (%)  UL TP < 10 Kbps (%)  10 Kbps < UL TP < 50 Kbps (%)  50 Kbps < UL TP < 300 Kbps (%)  UL TP > 300 Kbps (%)  HTTP DL (Bytes)  HTTP UL (Bytes)  Activity Duration DL (ms)  Activity Duration UL (ms)   Dur. (ms).1 Handset Manufacturer                 Handset Type  Nb of sec with 125000B < Vol DL  Nb of sec with 1250B < Vol UL < 6250B  Nb of sec with 31250B < Vol DL < 125000B  Nb of sec with 37500B < Vol UL  Nb of sec with 6250B < Vol DL < 31250B  Nb of sec with 6250B < Vol UL < 37500B  Nb of sec with Vol DL < 6250B  Nb of sec with Vol UL < 1250B  Social Media DL (Bytes)  Social Media UL (Bytes)  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13  9.16456699548519E+015        42.000000         5.000000                     23.0                     44.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                    37624.0                    38787.0  1.823653e+09              Samsung   Samsung Galaxy A5 Sm-A520F                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          213.0                          214.0                1545765.0                  24420.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13                L77566A        65.000000         5.000000                     16.0                     26.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                      168.0                     3560.0  1.365104e+09              Samsung  Samsung Galaxy J5 (Sm-J530)                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          971.0                         1022.0                1926113.0                   7165.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13                D42335A       109.795706        17.662883                      6.0                      9.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                        0.0                        0.0  1.361763e+09              Samsung     Samsung Galaxy A8 (2018)                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          751.0                          695.0                1684053.0                  42224.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13                T21824A       109.795706        17.662883                     44.0                     44.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                     3330.0                    37882.0  1.321510e+09            undefined                    undefined                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                           17.0                          207.0                 644121.0                  13372.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13                D88865A       109.795706        17.662883                      6.0                      9.0                          NaN                          NaN                100.0                             0.0                            0.0                 0.0                100.0                            0.0                             0.0                   0.0              NaN              NaN                        0.0                        0.0  1.089009e+09              Samsung             Samsung Sm-G390F                              NaN                                    NaN                                       NaN                             NaN                                     NaN                                     NaN                          607.0                          604.0                 862600.0                  50188.0

   Google DL (Bytes)  Google UL (Bytes)  Email DL (Bytes)  Email UL (Bytes)  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)  engagement_score  experience_score
0          1634479.0          1271433.0         3563542.0          137762.0          15854611.0           2501332.0           8198936.0           9656251.0        278082303.0         14344150.0       171744450.0         8814393.0        36749741.0       308879636.0       3750.788803        757.542996
1          3493924.0           920172.0          629046.0          308339.0          20247395.0          19111729.0          18338413.0          17227132.0        608750074.0          1170709.0       526904238.0        15055145.0        53800391.0       653384965.0       3757.400487        775.540748
2          8535055.0          1694064.0         2690151.0          672973.0          19725661.0          14699576.0          17587794.0           6163408.0        229584621.0           395630.0       410692588.0         4215763.0        27883638.0       279807335.0       3767.050946        792.446336
3          9023734.0          2788027.0         1439754.0          631229.0          21388122.0          15146643.0          13994646.0           1097942.0        799538153.0         10849722.0       749039933.0        12797283.0        43324218.0       846028530.0       3729.051011        757.446345
4          6248284.0          1500559.0         1936496.0          173853.0          15259380.0          18962873.0          17124581.0            415218.0        527707248.0          3529801.0       550709500.0        13910322.0        38542814.0       569138589.0       3767.050946        792.446336